/* 全体 */
body {
  background-image: url(./img/bgimg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#submit {
  display: none;
}

a {
  text-decoration: none;
}

.return {
  position: absolute;
  top: 3%;
  left: 5%;
}
.modify_afreturn {
  position: absolute;
  top: 3%;
  left: 1%;
}

.return>img, .modify_afreturn>img{
  width: 35%;
}


/* home.php */
#home {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20% auto 0;
}

#home .memberlist {
  text-align: center;
  flex-basis: 45%;
}

#home .company_name {
  margin-bottom: 10%;
}

#home .company_name>img {
  width: 40%;
}

#home .memberlist>.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#home .memberlist>.members>.member {
  width: 47%;
  margin-bottom: 6%;
}

#home .memberlist>.members>.member a{
  background-color: #364F6B;
  border-radius: 5px;
  box-shadow: 5px 5px #49CECA;
  color: white;
  display: block;
  padding: 25px;
}


#home .addmember {
  position: absolute;
  top: 3%;
  left: 87%;
}

#home .addmember>img {
  width: 35%;
}

#home .clean {
  position: absolute;
  top: 3%;
  left: 5%;
}

#home .clean>img {
  width: 35%;
}


/* modify.php */
#modify {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 18% auto 0;
}

#modify .memberlist {
  text-align: center;
  flex-basis: 45%;
}

#modify .company_name {
  margin-bottom: 10%;
}

#modify .company_name>img {
  width: 50%;
}

#modify .delete {
  position: absolute;
  top: 20%;
  right: 24%;
  width: 7%;
}

#modify .members {
  position: relative;
}

#modify .members p {
  font-size: 125%;
}

#modify .members p:before {
  margin: 0 5% 0 -15%;
  content: "";
  display: inline-block;
  width: 23px;
  height: 25px;
  background: url(./img/member.png);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

#modify .name {
  margin: 10% 0 5%;
  padding: 2%;
  width: 50%;
}

#modify .add {
  background-color: #364F6B;
  border-radius: 5px;
  box-shadow: 3px 3px #49CECA;
  color: white;
  padding: 6px 0;
  width: 50%;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}

.modifyerror {
  text-align: center;
  color: #364F6B;
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.3rem;
}


/* index.php */
#index .name {
  text-align: center;
  color: #364F6B;
  margin-top: 18%;
  font-size: 1.3rem;
}
#index .name>strong {
  font-size: 3.0rem;
  font-weight: 400;
  margin-right: 1%;
}

#index #time {
  text-align: center;
  color: #364F6B;
  font-size: 1.2rem;
  letter-spacing: 0.3px;
}

#index .action {
  display: flex;
  flex-wrap: nowrap;
  width: 75%;
  margin: 3% auto 0;
  justify-content: center;
}
#index .action a{
  width: 25%;
}

#index .action img {
  max-width: 100%;
  padding: 8%;
}

#index .action span {
  display: block;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}


/* rireki.php */
#rireki {
  background-image: none;
  background-color: #364F6B;
  /* background-size: 100%;
  background-repeat: no-repeat; */
  width: 85%;
  margin: 0 auto;
}

#rireki .name {
  color: white;
  font-size: 1.5rem;
}

#rireki .month {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

#rireki .wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 12%;
  margin-bottom: 3%;
}


#rireki .wrap select {
  background-color: #364F6B;
  color: white;
  border: 0.5px solid white;
  padding: 8% 33%;
}

#rireki .download {
  position: absolute;
  top: 3%;
  left: 87%;
}

#rireki .download>img {
  width: 35%;
}

#rireki table {
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 0.7rem;
  border-collapse: collapse;

}

#rireki table .tr {
  border-bottom: 1px solid white;
  position: relative;
}

#rireki table .tr img {
  width: 36%;
}

#rireki table td {
  padding: 1%;
}

#rireki table td strong.strong{
  border: 1px solid white;
  border-radius: 10%;
  padding: 1% 30%;
  font-weight: 500;
}

#rireki table td strong.strong2{
  border: 1px solid white;
  border-radius: 10%;
  padding: 1% 15%;
  font-weight: 500;
}

#rireki table .rirekimodify {
  width: 8%;
}


/* action */
#action #time {
  text-align: center;
  color: #364F6B;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  margin-top: 24%;
}

#action .comment {
  text-align: center;
  color: #364F6B;
  font-size: 2.0rem;
  margin-top: 11%;
  font-weight: bold;
}

#action .modifycomment {
  text-align: center;
  color: #364F6B;
  font-size: 2.0rem;
  margin-top: 30%;
  font-weight: bold;
}


/* modify_be.php */
#modify_be .name {
  text-align: center;
  color: #364F6B;
  margin-top: 10%;
  font-size: 1.3rem;
}
#modify_be .name>strong {
  font-size: 3.0rem;
  font-weight: 400;
  margin-right: 1%;
}

#modify_be .modify {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

#modify_be .modify .wrap {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 2% auto 2%;
}

#modify_be .modify .wrap .index{
  color: #364F6B;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 10px;
}

#modify_be .modify .wrap .time{
  color: #364F6B;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1%;
}

#modify_be .modify .wrap .button{
  width: 12%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

#modify_be .modify .wrap .button a {
  background-color: #364F6B;
  border-radius: 5px;
  box-shadow: 3px 3px #49CECA;
  color: white;
  display: block;
  padding: 10px;
}


/* modify_af */
#modify_af {
  text-align: center;
}

#modify_af .comment{
  text-align: center;
  color: #364F6B;
  font-size: 2.0rem;
  margin-top: 20%;
  font-weight: bold;
}

#modify_af .form {
  /* width: 300px; */
  width: 25%;
  font-size: 1.5rem;
  margin-top: 8%;
  padding: 1%;
  border: 2px solid #364F6B;
  border-radius: 3%;
}

#modify_af .button {
  background-color: #364F6B;
  border-radius: 5px;
  box-shadow: 3px 3px #49CECA;
  color: white;
  padding: 1%;
  width: 15%;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: 5%;
}


/* clean_check */
#clean_check {
  background-image: none;
  background-color: #364F6B;
}

#clean_check .admin {
  position: absolute;
  top: 3%;
  left: 87%;
}

#clean_check .admin>img {
  width: 35%;
}

#check_table {
  margin: 10% auto 8%;
  width: 75%;
  border-collapse: collapse;
  text-align: center;
}

#check_table tr th, #check_table tr td {
  border: 1px solid white;
  color: white;
  padding: 0.8% 0;
  font-size: 0.8rem;
}

#check_table tr th {
  padding: 1.5% 1%;
}

#check_table .border-none {
  border-style: none;
}

#check_table .diagonal-line {
  background-image: linear-gradient(to top left, transparent, transparent 49%, white 49%, white 51%, transparent 51%, transparent);
}

#check_table th.border-right {
  border-right-color: #364F6B;
}

#check_table .border-bottom {
  border-bottom: 1px solid #364F6B;
}
#check_table .color-change {
  background-color: white;
  color: #364F6B;
}

#check_table td.room {
  writing-mode: vertical-rl;
  width: 2%;
  font-weight: 600;
}

#check_table td.place {
  width: 9%;
}

#check_table span {
  background-color: #364F6B;
  color: white;
  border-radius: 5%;
  padding: 0 10%;
  margin-right: 5%;
  font-weight: 400;
}

/* 元々のチェックボックス（非表示） */
#check_table input[type="checkbox"]{
  display: none;
}

/* チェックボックスの代わりを成すラベル */
#check_table input[type="checkbox"]+label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

/* ラベルの左に表示させる正方形のボックス□ */
#check_table input[type="checkbox"]+label::before{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -15px;
  left: 7px;
  top: 50%;
  border: 1px solid;
  border-color:  #364F6B; /* 枠の色変更 */
  background-color: #FFF; /* 背景の色変更 */
  border-radius: 50%;
}

/* チェックが入った時のレ点 */
#check_table input[type="checkbox"]:checked+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 8px;
  margin-top: -11px;
  top: 50%;
  left: 10px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color:  #364F6B; /* チェックの色変更 */
}


/* clean_admin.php */

#clean_admin .team-member {
  margin: 15% auto 0;
  width: 60%;
}

#clean_admin .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#clean_admin .team {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#clean_admin .team:nth-child(3n) {
  margin-right: 0;
}

#clean_admin .teamname {
  color: #364F6B;
  font-weight: 600;
  position: relative;
  padding-right: 20%;
  margin-bottom: 3%;
}

#clean_admin .teamname::after {
  content: url(./img/members.png);
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.3);
  position: absolute;
  top: -95%;
  left: 40%;
}

#clean_admin .select {
  color: #364F6B;
  width: 70%;
  margin: 0 auto;
  text-align: -webkit-center;
  font-size: 1.5rem;
  margin-bottom: 3%;
}

#clean_admin .submit {
  display: block;
  background-color: #364F6B;
  border-radius: 5px;
  box-shadow: 4px 4px #49CECA;
  color: white;
  padding: 13px 0;
  width: 15%;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  margin: 2% auto;
}